.card {
  background: #ffffff;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  margin: 12px 0px;
  padding: 12px;
  display: flex;
  align-items: center;
  border-radius: 6px;
}
.bookmark {
  display: flex;
}
.card_logo {
  height: 45px;
}

.info {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 12px;
}

.name {
  font-size: 16px;
  font-weight: 500;
}
.domain {
  border: 1px solid rgb(31, 29, 29);
  width: max-content;
  padding: 1px 8px;
  font-size: 10px;
  border-radius: 6px;
  display: flex;
  align-items: center;
}
.location {
  font-size: 12px;
  color: gray;
  display: flex;
  align-items: center;
}
.cardRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.visit {
  padding: 4px 8px;
  font-size: 14px;
  margin: 6px 0px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  border: 1px solid indigo;
}
.visit i {
  margin-right: 4px;
  padding-top: 2px;
}

.options {
  display: flex;
  align-items: center;
}
.bookmarkIcon {
  margin-right: 4px;
}

@media only screen and (max-width: 1024px) {
  .card_logo {
    height: 60px;
  }
  .name {
    font-size: 18px;
  }
}
@media only screen and (max-width: 512px) {
  .card {
    margin: 8px 0px;
  }
  .card_logo {
    height: 45px;
  }
  .info {
    margin-left: 12px;
  }
  .name {
    font-size: 16px;
  }
}
